{% extends 'base.html.twig' %}

{% block title %}Team index
{% endblock %}

{% block body %}
	<h1 class="text-center title">TEAMS</h1>

	<div class="text-center">
		<a href="{{ path('team_new') }}" class="btn btn-success mt-3">Create New</a>
	</div>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for team in teams %}
			<div class="col mb-4">
				<div class="card border-info h-100">
					<img src="{{ asset('images/' ~ team.imageName) }}" alt="{{ team.name }}" class="card-img-top logo">
					<div class="card-body">
						<h5 class="card-title">{{ team.name }}</h5>
						<p class="card-text">Country:
							{{ team.country }}
                        </p>
					</div>
					<div class="card-footer d-flex justify-content-between">
						<a href="{{ path('team_show', {'id': team.id}) }}" class="btn btn-primary">Show</a>
						<a href="{{ path('team_edit', {'id': team.id}) }}" class="btn btn-secondary">Edit</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col">
				<div class="card">
					<div class="card-body">
						<p class="card-text">No records found</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
